body{
  background: #F5DF4D;
}
.subtitulos{
  font-size: 17px;
  color: #2c81b8;
  font-weight: 500;
}
.active{
	display: block;
}

.inactive{
	display: none;
}

.mainpage{
  min-height: 600px;
	margin-top: 20px;
}

.navbar{
	background: #939597;
}

.navbar-toggler{
  background-color: #F5DF4D;
}

.navbar a{
	color: white;
	margin: 0px 2rem;
}

.navbar a:hover{
	color: #F5DF4D;
}

.dropdown-menu a{
	color:#000;
	margin: 0px;
}
.submenu_mate{
  background-color: #eaeaea !important;
}

/*inicia carrusel del blog*/
.cta-100 {
  margin-top: 100px;
  padding-left: 8%;
}

.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue {
  background-color: #2a76a7 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
  z-index: -2;
}


/* Botones de carrusel */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 2%;
  height: 1%;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  /*background-color: #41cb52;*/
  background: linear-gradient(to bottom, #a0a0a0, #a2a245);
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

/*Botones de leer mas*/
.btn.bg-blue.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
  color: white;
}

.btn.bg-blue.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
  color: black;
}

/*iconos redes sociales*/
.icon-color{
	color: #2a76a7;
}
section #services {
  text-align: center;
  transform: translatez(0);
}
section #services li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 1.2em;
  height: 1.2em;
  font-size: 2.4em;
  text-align: center;
  line-height: 45px;
  background-color: #2a76a7;
  transition: all 0.5s ease;
}
section #services li a {
  color: #fff;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
/*operaciones */

.instrucciones{
  margin: 25px;
}
.bg-yellow{
  cursor: pointer;
  float: left;
  color: #1f1f20;
  background: #f9d105;
}


.icon-oper{
  height: 90px;
  line-height: 7;
}

.icon-oper i{
  margin:4px;
}

.card-oper{
    /* amarrillo border: 7px solid #60f9af;
    background-color: #02905e;*/
    border: 2px solid #939597;
    /*background-color: #4d3aa0;*/
    text-align: center;
    z-index: 4;
    padding: 20px;
    /*border-radius: 2rem;*/
    /*color: white;*/
}

.simbol{
  color: red;  
}

.linea-res{
  border-bottom: solid 4px red;
}
.numero:disabled{
    color: #211fc0;
    background-color: #f8f9fa;
    border-color: #dc3545;
    font-size: 15px;
    padding: 0.5rem 6px;  
    opacity: 1;
}
.residuo:disabled{
    color: #b81b48;
    font-size: 15px;
    padding: 0.5rem 6px;  
    opacity: 1;
}

.card-instrucciones{
  border: 5px solid #d749d4;
  background-color: #7c217f;
  text-align: center;
  z-index: 4;
  padding: 23px;
  font-size: 17px;
  border-radius: 2rem;
  color: #f8f9fa;
}
.flecha{
  margin-bottom: -1rem;
  font-size: 35px;
  margin-top: -1rem;
  color: #7c217f;
}
.operacion-desglosada .ejemplo{
   display: flex;
   justify-content: flex-end;
}

.error{
  color: #da1010;
}

.modal-header{
  background-color: #939597 !important;
  color: white;
}


.close{
  color: white;
}

.icon-success{
    font-size: 9em;
    color: #33b333;
}

.icon-error{
    font-size: 9em;
    color: #e96666;
}

.bg-gray{
  background-color: #939597;
}


.bg-yellow-light{
  background-color: #f5df4d94 !important;
  color: black !important;
}

.slider{
  height: 620px;
}


.slider .container{
  position: absolute;
  left: 25%;
  top: 20%;
  max-width: 50%;
  background-color: #ffffff7a;
}

.tagline h1{
  font-size: 5rem;
  line-height: 5rem;
  font-family: "Helvetica Neue","HelveticaNeue","Helvetica-Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  letter-spacing: -3px;
}

.tagline p{
  font-size: 2.8rem;
  line-height: 2.8rem;
  letter-spacing: -2px;
}


@media (max-width: 1450px)
{
  .slider .tagline h1 {
      font-size: 3rem;
      line-height: 5rem;
  }

  .tagline p{
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -2px;
  }

}


footer{
    background: linear-gradient(to top, #939597, #F5DF4D);
    height: 50px;
}



.logo{
  width: 60px;
}